<html>
<head></head>
<body>
  <script>
    <% if @user %>
      window.opener.$(window.opener.document).trigger('loginSucceeded', <%= raw UserSerializer.new(@user).as_json.merge(access_token: @user.api_token).to_json %>);
    <% else %>
      window.opener.$(window.opener.document).trigger('loginFailed', { error: 'invalid_grant' });
    <% end %>

    window.close();
  </script>
</body>
</html>
