<html>
<head></head>
<body>
  <script>
    <% if @user %>
      window.opener.postMessage(<%= raw UserSerializer.new(@user).as_json.merge(access_token: @user.api_token).to_json %>,  "<%= ENV['CLIENT_URL'] %>")
    <% else %>
      window.opener.postMessage({ error: 'invalid_grant' }, "<%= ENV['CLIENT_URL'] %>")
    <% end %>

    window.close();
  </script>
</body>
</html>
