---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/63834/events?auth_key=b97fe1ecbf31373c3699&auth_signature=56c1e629d740965620b6edde2cf3492fb548bbc8f1942ac0bb23d197c533715d&auth_timestamp=1394816953&auth_version=1.0&body_md5=a4ba4e73e3a65799feefb9e80d99217c
    body:
      encoding: UTF-8
      string: '{"name":"user.create","channels":["notdvs"],"data":"{\"user\":{\"id\":\"d5113b5b-7bb4-4aef-a56d-d4b9d28793f6\",\"avatar_url\":\"omg\",\"nickname\":\"current_user\",\"points\":0}}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 14 Mar 2014 17:09:14 GMT
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token api_token_test
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1394817065'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"http://developer.github.com/v3"}'
  recorded_at: Fri, 14 Mar 2014 17:09:15 GMT
recorded_with: VCR 2.4.0
