.task
  margin-bottom: 15px

  &:hover
    header .actions
      display: block

  header
    padding: 5px 10px
    background-color: $secondary-color
    color: darken($secondary-color, 50%)

    .info
      font-size: 13px
      display: inline
      margin-left: 5px

    .actions
      float: right
      letter-spacing: 7px
      display: none

      & > span
        cursor: pointer

    .assignee
      margin-left: 10px
      display: inline

      & > span
        margin-left: 10px

  .content
    border: 1px solid $secondary-color
    padding: 10px
    border-radius: 2px

  &.completed
    opacity: 0.5

    .complete
      color: $success-color

  .edit
    +icon('pen')

    font-size: 15px

  .complete
    +icon('checkmark')

  .destroy
    +icon('cross')

  .assign
    +icon('user')

  span.nickname
    margin-left: 10px
