.task
  margin-bottom: 15px

  header
    padding: 5px
    background-color: $secondary-color

    img
      width: 30px
      height: 30px

    .info
      margin-left: 5px
      font-size: 13px
      color: darken($secondary-color, 50%)

    .actions
      float: right

  .content
    border: 1px solid $secondary-color
    padding: 10px
    border-radius: 2px

  &.completed
    opacity: 0.5

    input[type="checkbox"]
      color: $success-color

  .edit
    +icon('pencil')

    cursor: pointer

  input[type="checkbox"]
    +icon('checkmark')
    +appearance(none)

    cursor: pointer
    outline: none

  .destroy
    +icon('cross')

    vertical-align: middle
    cursor: pointer
    font-size: 22px