$include-open-sans: false

@import "animate"
@import "normalize"
@import "foundation"
@import "bourbon"

$ok-color: $success-color
$warning-color: orange
$error-color: $alert-color

@mixin row
  @include grid-row()

  margin-top: 30px

main
  @include grid-column($columns: 6, $center: true, $collapse: true)

body
  @include grid-row()

.pistachio-status
  @include row()

.status
  @include grid-column($columns: 6, $center: true, $collapse: true)

  &:after
    @include transition(all 1s ease)

    content: ""
    display: block
    width: 100%
    height: 0
    padding-bottom: 100%
    border-radius: 50%
    border: 5px solid

  div
    float: left
    width: 100%
    padding-top: 50%
    line-height: 1em
    margin-top: -0.5em
    text-align: center
    font-size: 40px
    font-weight: 200

  &.ok
    &:after
      border-color: $ok-color

  &.warning
    &:after
      border-color: $warning-color

  &.error
    &:after
      border-color: $error-color

.new-notice
  @include row()

form
  input[type="text"]
    @include grid-column($columns: 9)

  input[type="submit"]
    @include prefix-postfix-base()
    @include postfix($is-button: false)
    @include grid-column($columns: 3)

.notices
  @include row()

  ul
    margin: 0
    list-style: none

.notice
  @include animation(fadeInLeft 1s)

  &.warning
    @include panel($bg: lighten($warning-color, 40%), $adjust: true, $padding: 12px)

  &.error
    @include panel($bg: lighten($error-color, 40%), $adjust: true, $padding: 12px)

.closing
  @include animation(fadeOutRight 1s)
  opacity: 0 // hack for fade-out animations

.close
  float: right
  color: $alert-color
