$include-open-sans: false
$row-width: 100%

@import "normalize"
@import "foundation"
@import "bourbon"
@import "spinner"
@import "structure"
@import "animations"
@import "zocial"
@import "font-awesome"

$ok-color: $success-color
$warning-color: orange
$error-color: $alert-color

@import "notice"
@import "status_circle"

html, body
  height: 100%

.ember-view
  height: inherit

aside
  padding: 1em
  position: fixed
  background-color: rgb(230,230,230)
  text-align: center
  top: 0
  left: 0
  overflow-x: hidden
  overflow-y: auto
  height: 100%

nav
  margin-top: 20px
  margin-left: 0

  ul
    margin-left: 0
    display: block
    text-align: center

  li
    min-height: 48px
    text-indent: -32768px

    &.status
      font-size: 30px

      i
        display: inline

    &.batcave
      background: image-url('batman.svg') no-repeat center
      background-size: 50px 30px

ul
  margin: 0
  list-style: none

.github-login
  position: absolute

  margin: -17.5px 0 0 -107px
  left: 50%
  top: 50%

.profile-picture
  border: 2px solid white
  border-radius: 50%

.active
  color: $primary-color
