$include-open-sans: false
$row-width: 100%
$side-nav-list-margin: 0 0 20px 0

@import "normalize"
@import "foundation"
@import "bourbon"
@import "structure"
@import "animations"
@import "zocial"
@import "font-awesome"
@import "pace-theme-flash"

$ok-color: $success-color
$warning-color: orange
$error-color: $alert-color

@import "status_circle"
@import "task"

html, body
  height: 100%

.ember-view
  height: inherit

ul
  margin: 0
  list-style: none

aside
  position: fixed
  background-color: $secondary-color
  text-align: center
  top: 0
  left: 0
  overflow-x: hidden
  overflow-y: auto
  height: 100%

nav
  ul
    +side-nav($divider-color: '#eee')
    text-align: center

  li
    cursor: pointer
    min-height: 50px

  i
    font-size: 35px

.profile-picture
  padding: 1em

  img
    border: 2px solid white
    border-radius: 50%

.github-login
  position: absolute

  margin: -17.5px 0 0 -107px
  left: 50%
  top: 50%

.active
  color: $primary-color

.filters
  +clearfix

  dl
    +sub-nav

    float: left

section.tasks
  footer
    margin-top: 20px

  .remaining-items
    font-size: 20px
    float: right

.avatar
  width: 30px
  height: 30px

.big-avatar
  width: 50px
  height: 50px
  margin: 0 auto

section.leaderboard
  li
    margin-bottom: 10px

  .points
    font-size: 20px
    margin-left: 15px
    vertical-align: middle

  .bar
    margin-top: 13px
