---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 78f58e63e8035da8e50970736e71f592c8b3513f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4541'
      X-Ratelimit-Reset:
      - '1390222131'
      Last-Modified:
      - Mon, 20 Jan 2014 12:13:20 GMT
      Etag:
      - "\"0a3f6abae18838cafdf4df6ebf722f05\""
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"login\":\"matteodepalo\",\"id\":151725,\"avatar_url\":\"https://gravatar.com/avatar/abb04b4653729868f052994150255f97?d=https%3A%2F%2Fidenticons.github.com%2F5aa31e8f2d4c9b3ccd9996deff74806e.png&r=x\",\"gravatar_id\":\"abb04b4653729868f052994150255f97\",\"url\":\"https://api.github.com/users/matteodepalo\",\"html_url\":\"https://github.com/matteodepalo\",\"followers_url\":\"https://api.github.com/users/matteodepalo/followers\",\"following_url\":\"https://api.github.com/users/matteodepalo/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/matteodepalo/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/matteodepalo/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/matteodepalo/subscriptions\",\"organizations_url\":\"https://api.github.com/users/matteodepalo/orgs\",\"repos_url\":\"https://api.github.com/users/matteodepalo/repos\",\"events_url\":\"https://api.github.com/users/matteodepalo/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/matteodepalo/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"Matteo
        Depalo\",\"company\":\"\",\"blog\":\"http://matteodepalo.github.io/\",\"location\":\"Siena,
        Italy\",\"email\":\"matteodepalo@gmail.com\",\"hireable\":true,\"bio\":\"\",\"public_repos\":23,\"public_gists\":15,\"followers\":11,\"following\":5,\"created_at\":\"2009-11-11T10:12:38Z\",\"updated_at\":\"2014-01-20T12:13:20Z\"}"
  recorded_at: Mon, 20 Jan 2014 12:31:34 GMT
- request:
    method: get
    uri: https://api.github.com/user/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 78f58e63e8035da8e50970736e71f592c8b3513f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4540'
      X-Ratelimit-Reset:
      - '1390222131'
      Etag:
      - "\"7603af580362ea0b26a24855f4be4646\""
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "[{\"login\":\"alphasights\",\"id\":41216,\"url\":\"https://api.github.com/orgs/alphasights\",\"repos_url\":\"https://api.github.com/orgs/alphasights/repos\",\"events_url\":\"https://api.github.com/orgs/alphasights/events\",\"members_url\":\"https://api.github.com/orgs/alphasights/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/alphasights/public_members{/member}\",\"avatar_url\":\"https://gravatar.com/avatar/6432e51cbb499d3d2d2b6d5a0cb1b0fc?d=https%3A%2F%2Fidenticons.github.com%2Fb4a2d301ddc8a3e8c500551900bdffd4.png&r=x\"},{\"login\":\"hackatron\",\"id\":1424066,\"url\":\"https://api.github.com/orgs/hackatron\",\"repos_url\":\"https://api.github.com/orgs/hackatron/repos\",\"events_url\":\"https://api.github.com/orgs/hackatron/events\",\"members_url\":\"https://api.github.com/orgs/hackatron/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/hackatron/public_members{/member}\",\"avatar_url\":\"https://gravatar.com/avatar/7018d3ecb16d4c5a472d9d798d0e26ba?d=https%3A%2F%2Fidenticons.github.com%2Fa399e026e4884abc87d3217a20e7b331.png&r=x\"},{\"login\":\"responsa\",\"id\":1590559,\"url\":\"https://api.github.com/orgs/responsa\",\"repos_url\":\"https://api.github.com/orgs/responsa/repos\",\"events_url\":\"https://api.github.com/orgs/responsa/events\",\"members_url\":\"https://api.github.com/orgs/responsa/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/responsa/public_members{/member}\",\"avatar_url\":\"https://gravatar.com/avatar/ef5835fa684546ad4be01e8affe0b8f8?d=https%3A%2F%2Fidenticons.github.com%2F06db199e6bcc6a708c5b08607ef97ed8.png&r=x\"}]"
  recorded_at: Mon, 20 Jan 2014 12:31:34 GMT
recorded_with: VCR 2.4.0
