<!DOCTYPE html>
<html>
  <head>
    <title>Notdvs</title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>

    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="http://firebase.github.io/emberFire/emberfire-latest.js"></script>

  </body>
</html>
