<!DOCTYPE html>
<html>
  <head>
    <title>NOTDVS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>

    <script>
      <% if Rails.env.development? %>
        window.ENV = { PUSHER_KEY: '50d9af5dd017f737f67e' }
      <% elsif Rails.env.production? %>
        window.ENV = { PUSHER_KEY: 'e77a2360c4b77ba37065' }
      <% end %>

      Notdvs.setup()
      Notdvs.run()
    </script>
  </body>
</html>
